* {
    margin: 0;
}

body {
    width: 1020px;
}

.uppercase {
    text-transform: uppercase;
}

.header {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 89px;
    background-color: #292d37;
    border-bottom: #2f3444 6px solid;
}

.navigation-panel {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 20px;
}

.logo {
    margin-left: 20px;
    font-family: "Lato", serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: -0.5px;
    color: #ffffff;
}

.logo-star {
    color: #f06c64;
}

.navigation-item {
    display: inline-block;
    margin: 30px 0 20px 0;
    font-family: "Lato", serif;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
}

.navigation-item:hover {
    cursor: pointer;
    color: #f06c64;
}

.navigation-item:after {
    content: ".";
    position: relative;
    left: 15px;
    top: -3px;
    margin-right: 23px;
    color: #ffffff;
}

.navigation-item:last-child:after {
    display: none;
}

.navigation-separator {
    display: inline-block;
    padding: 24px 12px 20px 13px;
    color: #ffffff;
}

.slider {
    display: flex;
    height: 594px;
    background-color: #f06c64;
    border-bottom: #ea676b 6px solid;
}

.arrow-right {
    display: flex;
    align-items: center;
    margin: -3px 24px 0 0;
    height: 100%;
    transform: rotate(180deg);
}

.arrow-left {
    display: flex;
    align-items: center;
    margin: -3px 0 0 24px;
    height: 100%;
}

.arrow-interactive:hover {
    cursor: pointer;
}

.pictures {
    flex-grow: 1;
}

.iphone-vertical {
    position: absolute;
    left: 96px;
    top: 140px;
}

.iphone-horizontal {
    position: absolute;
    left: 383px;
    top: 218px;
}

.service-container {
    padding: 40px 0 0 40px;
    height: 453px;
    background-color: #f2f2f2;
    border-bottom: #ffffff 6px solid;
}

.service-header {
    margin: 20px 40px 0 0;
}

.service-title {
    font-family: "Lato", serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.2px;
    color: #666d89;
}

.service-description {
    margin-top: 18px;
    font-family: "Lato", serif;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #666d89;
    text-align: justify;
}

.service-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 42px;
}

.service-item {
    display: flex;
    flex-direction: row;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 33px;
}

.item-right-side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 18px;
}

.item-icon {
    width: 62px;
    height: 62px;
}

.item-title {
    margin-bottom: 9px;
    font-family: "Lato", serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #666d89;
}

.item-description {
    height: 64px;
    font-family: "Lato", serif;
    font-size: 12px;
    line-height: 22px;
    color: #666d89;
    text-align: justify;
    overflow: hidden;
}

@font-face {
    font-family: "Lato";
    src: url("assets/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url("assets/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url("assets/Lato-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Lato";
    src: url("assets/Lato-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}