@import "assets/fonts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    width: 1020px;
    font-family: "Lato", sans-serif;
}

.portfolio {
    height: 870px;
    padding: 60px 40px 40px;
    background-color: #2d303a;
    border-bottom: #323746 6px solid;
}

.portfolio__title {
    margin-bottom: 22px;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: -0.2px;
    color: #666d89;
}

.portfolio__description {
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
    text-shadow: 0 0 #767e9e;
}

.portfolio__filter {
    margin-bottom: 19px;
}

.filter {
    display: flex;
    justify-content: flex-start;
}

.filter__button {
    display: flex;
    margin-top: 15px;
    margin-right: 10px;
    padding: 4px 7px 4px 7px;
    border: #666d89 1px solid;
    border-radius: 5px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    letter-spacing: -0.2px;
    color: #666d89;
    text-shadow: 0 0;
}

.filter__button_active {
    color: #c5c5c5;
    border-color: #c5c5c5;
}

.filter__button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.grid__item {
    width: 220px;
    height: 187px;
}

.about {
    height: 734px;
    padding: 60px 40px;
    background-color: #f2f2f2;
    border-bottom: #ffffff 6px solid;
}

.about__title {
    margin-bottom: 19px;
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -0.2px;
    color: #666d89;
}

.about__description {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #767e9e;
    text-align: justify;
    text-shadow: 0 0;
}

.profiles {
    display: flex;
    flex-direction: row;
}

.profile-item {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-top: 45px;
    margin-right: 15px;
}

.profile-item__photo {
    margin-bottom: 10px;
}

.profile-item__header {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-shadow: 0 0;
    color: #666d89;
}

.profile-item__description {
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    text-align: justify;
}

.footer-icons {
    display: flex;
    flex-grow: 1;
    margin-top: 23px;
}

.footer-icons__item {
    display: inline-block;
    margin-right: 6px;
}

.contact-item__icon {
    display: flex;
    height: 34px;
    width: 34px;
}

.contact-item__icon:hover {
    opacity: 0.5;
    cursor: pointer;
}

.icon_facebook {
    background-image: url("assets/social-media/Facebook.svg");
}

.icon_google {
    background-image: url("assets/social-media/Google.svg");
}

.icon_twitter {
    background-image: url("assets/social-media/Twitter.svg");
}

.icon_linked-in {
    background-image: url("assets/social-media/LinkedIn.svg");
}