@import "assets/fonts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    width: 1020px;
    font-family: "Lato", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 95px;
    background-color: #2d303a;
    border-bottom: #2f3444 6px solid;
}

.header__navigation-panel {
    margin-right: 20px;
}

.navigation-panel {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.header__logo {
    margin-left: 20px;
}

.logo {
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: -0.5px;
    color: #ffffff;
    text-transform: uppercase;
}

.logo_red {
    color: #f06c64;
}

.navigation-panel__item {
    display: inline-block;
    padding-top: 5px;
}

.navigation-panel__text {
    font-family: "Lato", serif;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
}

.navigation-panel__text_active {
    color: #f06c64;
}

.navigation-panel__text:hover {
    opacity: 0.5;
    cursor: pointer;
}

.navigation-panel__item:after {
    content: ".";
    position: relative;
    left: 10px;
    top: -3px;
    margin-right: 19px;
    color: #494e62;
}

.navigation-panel__item:last-child:after {
    display: none;
}

.navigation-separator {
    display: inline-block;
    padding: 24px 12px 20px 13px;
    color: #ffffff;
}

.slider {
    display: flex;
    height: 600px;
    background-color: #f06c64;
    border-bottom: #ea676b 6px solid;
}

.slider__arrow {
    display: flex;
    align-items: center;
}

.slider__arrow_right {
    margin: 270px 23px 0 0;
    transform: rotate(180deg);
}

.slider__arrow_left {
    margin: 269px 0 0 25px;
}

.slider__arrow:hover {
    opacity: 0.5;
    cursor: pointer;
}

.slider__content {
    flex-grow: 1;
}

.slider__iphone-vertical {
    position: absolute;
    left: 96px;
    top: 140px;
}

.slider__iphone-horizontal {
    position: absolute;
    left: 383px;
    top: 218px;
}

.service-container {
    padding: 40px 0 0 40px;
    height: 500px;
    background-color: #f2f2f2;
    border-bottom: #ffffff 6px solid;
}

.service-container__header {
    margin: 20px 40px 0 0;
}

.service-container__title {
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.2px;
    color: #666d89;
}

.service-container__description {
    margin-top: 18px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    text-align: justify;
    text-shadow: 0 0 #767e9e;
}

.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 45px;
}

.service-item {
    display: flex;
    flex-direction: row;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 33px;
}

.service-item__info {
    margin-left: 18px;
}

.info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.service-item__icon {
    width: 62px;
    height: 62px;
}

.info__title {
    margin-bottom: 9px;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #666d89;
}

.info__description {
    height: 64px;
    font-size: 12px;
    line-height: 22px;
    color: #666d89;
    text-align: justify;
    overflow: hidden;
}