@import "assets/fonts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    width: 1020px;
    font-family: "Lato", sans-serif;
}

.order {
    padding: 60px 40px;
    height: 654px;
    background-color: #f06c64;
    border-bottom: #ea676b 6px solid;
}

.order__header {
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 35px;
    color: #f0d8d9;
}

.order__description {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.15px;
    line-height: 30px;
    color: #f0d8d9;
}

.order__content {
    display: flex;
}

.order-form {
    display: flex;
    flex-direction: column;
    padding-top: 44px;
    width: 619px;
}

.order-form__field {
    height: 38px;
    margin-bottom: 16px;
    border-color: transparent;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f0d8d9;
}

.order-form__field_textarea {
    height: 202px;
    resize: none;
}

.order-form__submit-button {
    cursor: pointer;
    color: #f0d8d9;
    border-color: transparent;
    border-radius: 5px;
    background-color: #d6564f;
}

.order-form__submit-button:hover {
    opacity: 0.5;
}

input::placeholder {
    padding-left: 12px;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #ec7e7e;
    text-shadow: 0 0;
}

textarea::placeholder {
    padding-left: 14px;
    padding-top: 10px;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #ec7e7e;
    text-shadow: 0 0;
}

.contact-information {
    display: flex;
    flex-direction: column;
    width: 321px;
    padding-left: 21px;
    padding-top: 41px;
}

.contact-information__header {
    font-size: 19px;
    color: #f0d8d9;
    letter-spacing: -0.4px;
}

.contact-information__description {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    color: #f0d8d9;
    text-align: justify;
    text-shadow: 0 0;
}

.contacts {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.contact-item__icon {
    display: inline-block;
    cursor: pointer;
    width: 15px;
}

.icon-phone {
    background: url("assets/contacts/phone.svg") no-repeat;
    height: 12px;
}

.icon-location {
    background: url("assets/contacts/location.svg") no-repeat;
    margin: 0 -4px 0 3px;
    height: 11px;
}

.icon-mail {
    background: url("assets/contacts/mail.svg") no-repeat;
    height: 9px;
}

.contact-item__description {
    margin-left: 9px;
    font-size: 12px;
    color: #f0d8d9;
    text-decoration: none;
}

.footer {
    display: flex;
    align-items: center;
    padding: 0 33px;
    height: 76px;
    background-color: #2d303a;
}

.footer-copyright {
    margin-left: 9px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.3px;
    color: #666d89;
}

.footer-icons {
    display: flex;
    flex-grow: 1;
    align-content: center;
    justify-content: flex-end;
}

.footer-icons__item {
    display: inline-block;
    margin-right: 6px;
}

.footer-icon {
    display: flex;
    height: 34px;
    width: 34px;
}

.footer-icon:hover {
    opacity: 0.5;
    cursor: pointer;
}

.icon_facebook {
    background-image: url("assets/social-media/Facebook.svg");
}

.icon_google {
    background-image: url("assets/social-media/Google.svg");
}

.icon_twitter {
    background-image: url("assets/social-media/Twitter.svg");
}

.icon_linked-in {
    background-image: url("assets/social-media/LinkedIn.svg");
}